/* 
Du använder rätt CSS klasser vilket är bra,
men du behöver öva mer på indentering.
Det finns inte riktigt någon struktur över hur du indenterar CSS-koden, utan 
många selectors är bara placerade lite hur som helst.

Du bör ha space mellan varje selector för att förbättra läsbarheten i koden.
På vissa selectors har du ett space i slutet som inte behövs.
*/

*{
    padding: 0;
    margin: 0;
}
   .nav-header {
    background-color: rgb(136, 77, 0);
padding: 16px;
display: flex;
justify-content: center;
}
.nav-ul {
    list-style: none;
    display:flex;
    gap: 64px;
    justify-content: space-between;
        }
        a {
           transition: all 0.2s ease-in-out;
           text-decoration: none;
           color: #f7f7f7;
           font-family: 'Times New Roman', Times, serif;
        }
        a:hover{
    transition: all 0.1s ease-in-out;
    color: #ffdd45;
    text-decoration: underline;
    }
    main {
        background-color: #F5E6D3;
        display: flex;
        flex-direction: column;
        /* gap: 37px; */
    }
    .Titel {
color:#8b4513;
font-family: 'Times New Roman', Times, serif;
margin:auto;
/* font-size skrivs alltid i rem, aldrig px */
font-size: 40px; 
font-weight: bold;
padding: 50px;
gap:20px;

    }
        .Om-oss {
font-family: 'Times New Roman', Times, serif;
margin: auto;
 /* font-size skrivs alltid i rem, aldrig px */
font-size: 20px;
color:#654321;
padding:0px;
    }
    .Om-oss-text {
        font-family: 'Times New Roman', Times, serif;
        flex-direction: column;
        margin: 0 auto;
        /* font-size skrivs alltid i rem, aldrig px */
        font-size: 17px;
        padding: 2rem;
        text-align: center;
            }
    .Vår-meny {
font-family: 'Times New Roman', Times, serif;
justify-content: center;
display: flex;
flex-direction: column;
gap: 10px;
padding: 60px;
background-color:#E8D5B7;
border-bottom: 2px solid #8b4513;
    }
    .Vår-meny h1 {
    color:#654321;
    }
    .Vår-meny h2 {
        color: #8b4513;

    }
    .Vår-meny h3 {
        color:#654321;
        font: Georgia italic;
    }
    #Hitta-hit {
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        gap: 20px;
      
        background-color: #8b4513;
        color: #f7f7f7;
        text-align: center;
        overflow-x: hidden;
        padding: 70px;
        }
            a {
           transition: all 0.2s ease-in-out;
           text-decoration: none;
           color: #f7f7f7;
           font-family: 'Times New Roman', Times, serif;
        }
        a:hover{
    transition: all 0.1s ease-in-out;
    color: #ffdd45;
    text-decoration: underline;
    }
    .Färskt-från-bageriet h1 {
        color:#654321;
    }
    .Färskt-från-bageriet h2 {
        color: #8b4513;
    }
    .Färskt-från-bageriet {
font-family: 'Times New Roman', Times, serif;
text-size-adjust: 4;
justify-content: center;
display: flex;
flex-direction: column;
gap: 5px;
padding: 60px;
background-color:#f5e6d3;
border-bottom: 2px solid #8b4513;
    }
    .Öppettider {
        justify-content: center;
        padding: 50px;
        gap: 50px;
        background-color:#E8D5B7;
        height: auto;

    }
    .Öppettider h1 {
gap: 20px;
margin: 15px;
color: #654321;
    }
    .Öppettider h2 {
        color:#8b4513;
        margin: 15px;
    }
    .Öppettider ol {
        margin: 20px;
    }
    .Öppettider h4 {
        text-decoration: none;
        
    }
